[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  whitespace = red reverse
[user]
  name = Nick Desaulniers
  email = ndesaulniers@mozilla.com
[core]
  excludesfile = /Users/Nicholas/.gitignore_global
  editor = /usr/bin/vim
[push]
  default = simple

