[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  whitespace = red reverse
[user]
  name = Nick Desaulniers
  email = nick.desaulniers@gmail.com
[core]
  ;excludesfile = /Users/Nicholas/.gitignore_global
  ; ^ is unique per host...
  editor = vim
[push]
  default = current
[am]
  threeWay = true
[sendemail]
  smtpuser = nick.desaulniers@gmail.com
  smtpserver = smtp.googlemail.com
  smtpencryption = tls
  smtpserverport = 587
